<!DOCTYPE html>
<html>
<%# Write your code here! %>
<!--body is everything not defined as head or is defined as body? I think?-->
<h1>Welcome!</h1>
<h1>

<form action="/greet" method="POST">
  <label for="user_name">Name:</label>
  <input type="text" name="user_name" id="user_name" />
  <br>
  <input type="submit" value="Submit"/>
</form>

</html>